<%= form_for(@episode) do |f| %>
  <% if @episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :media_url %><br />
    <%= f.text_field :media_url %>
  </div>
  <div class="field">
    <%= f.label :episode_number %><br />
    <%= f.text_field :episode_number %>
  </div>
  <div class="field">
    <%= f.label :publish_date %><br />
    <%= f.text_field :publish_date %>
  </div>
  <div class="field">
    <%= f.label :podcast_id %><br />
    <%= f.select :podcast_id, options_for_select( Podcast.all.map { |podcast| [podcast.title, podcast.id] } ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
