<div class="podcast-header">
  <%= link_to '« ' + @episode.podcast.title, podcast_show_path(@episode.podcast.shortname) %>
</div>
<div class="episode-wrapper">
  <div class="episode-topbar">
    <audio controls="controls">
      <source src="<%= @episode.media_url %>" type="audio/mpeg">
      <source src="<%= @episode.media_url %>" type="audio/mp3">Your browser does not support HTML5 audio.
    </audio>
    <%= link_to '(download)', @episode.media_url %>
  </div>
  <h1 class="episode-title">
    <%= @episode.title %>
  </h1>
  <div class="episode-body">
    <%= raw BlueCloth.new(@episode.body).to_html %>
  </div>

</div>