<%= render 'sidebar' %>

<h1 class="episode-title">
  Episode <%= @episode.episode_number %><br />
  <%= @episode.title %>
</h1>

<p>
  <audio controls="controls">
    <source src="<%= @episode.media_url %>" type="audio/mpeg">
    <source src="<%= @episode.media_url %>" type="audio/mp3">Your browser does not support HTML5 audio.
  </audio><br />
  <%= link_to '(download)', @episode.media_url %>
</p>

<p>
  <b>Episode <%= @episode.episode_number %> Shownotes:</b><br />
  <%= @episode.body %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', '/' + @podcast.shortname %>
