<%= content_for :html_title do %><%= @episode.podcast.title %>, <%= @episode.title %><% end %>
<%= content_for :body_class do %>application episode<% end %>
<%= content_for :back_link do %><%= link_to '« ' + @episode.podcast.title, podcast_show_path(@episode.podcast.shortname) %><% end %>
<div class="episode-wrapper">
  <h1 class="episode-title">
    <%= @episode.title %>
  </h1>
  <div class="episode-topbar">
    <audio controls="controls">
      <source src="<%= @episode.media_url %>" type="audio/mpeg">
      <source src="<%= @episode.media_url %>" type="audio/mp3">Your browser does not support HTML5 audio.
    </audio>
    <%= link_to '(download)', @episode.media_url %>
  </div>
  <div class="episode-body">
    <%= body_encode(@episode.body) %>
    <br />
    <%= @episode.media_title %><br />
    <%= @episode.media_artist %><br />
    <%= @episode.media_album %><br />
    <%= format_date_human(@episode.publish_date) %><br />

    Duration: <%= format_length(@episode.media_length) %><br />

  </div>

</div>

<div class="podcast-links"><div class="podcast-links-inner">
  <%= link_to 'Subscribe in iTunes', @episode.podcast.subscribe_itunes_link %>
  <%= link_to 'Subscribe in RSS', podcast_rss_path(@episode.podcast.shortname) %>
  <%= process_markdown(@episode.podcast.links) %>
</div></div>
