<div class="podcast-name">
  <%= @podcast.title %>
</div>

<h1>
  <%= @episode.title %>
</h1>

<%= render 'sidebar' %>

<p>
  <audio controls="controls">
    <source src="<%= @episode.media_url %>" type="audio/mpeg">
    <source src="<%= @episode.media_url %>" type="audio/mp3">Your browser does not support HTML5 audio.
  </audio><br />
  <%= link_to '(download)', @episode.media_url %>
</p>

<p>
  <b>Episode <%= @episode.episode_number %> Shownotes:</b><br />
  <%= @episode.body %>
</p>


<%= link_to 'Back', '/' + @episode.podcast.shortname %>
