<%= form_for @podcast do |f| %>
  <% if @podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
      <% @podcast.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shortname %><br />
    <%= f.text_field :shortname %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %>
  </div>
  <div class="field">
    <%= f.label :categories %><br />
    <%= f.text_area :categories %>
  </div>
  <div class="field">
    <%= f.label :subscribe_itunes_link %><br />
    <%= f.text_field :subscribe_itunes_link %>
  </div>
  <div class="field">
    <%= f.label :subscribe_feedburner_link %><br />
    <%= f.text_field :subscribe_feedburner_link %>
  </div>
  <div class="field">
    <%= f.label :links %><br />
    <%= f.text_area :links %>
  </div>
  <div class="field">
    <%= f.label :art_url %><br />
    <%= f.text_field :art_url %>
  </div>
  <div class="field">
    <%= f.label :art_url_medium %><br />
    <%= f.text_field :art_url_medium %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
