<%= content_for :html_title do %>brickcaster: small podcasts from the human edge<% end %>
<%= content_for :body_class do %>application podcast<% end %>

<% @podcasts.each do |podcast| %>
<div class="podcast-teaser">
  <img src="<%= podcast.art_url_medium || podcast.art_url %>" />
  <h2 class="podcast-title"><%= link_to podcast.title, podcast_show_path(podcast.shortname) %></h2>
  <div class="podcast-body"><%= podcast.body %></div>
</div>
<% end %>
<br /><br /><br />