<div class="podcast-wrapper">

  <h1 class="podcast-title">
    <%= @podcast.title %>
  </h1>

  <div class="podcast-body">
    <%= @podcast.body %>
  </div>

  <div class="podcast-topbar">
<!--     <%= render 'artwork' %><br /> -->
  </div>

  <div class="podcast-episodes">
    <%= render 'episodes' %>
  </div>

</div>

  <div class="podcast-links"><div class="podcast-links-inner">
    <%= link_to 'Subscribe in iTunes', @podcast.subscribe_itunes_link %>
    <%= link_to 'Subscribe in RSS', podcast_feed_path(@podcast.shortname) %>
    <%= link_to 'Subscribe in Feedburner', @podcast.subscribe_feedburner_link %>
    <%= raw BlueCloth.new(@podcast.links).to_html %>
  </div></div>
