<!DOCTYPE html>
<html>
<head>
  <title><%= yield :html_title %></title>  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body class="<%= yield :body_class %>">
  <header>
    <a class="site-name" href="/">brickcaster:</a> <a class="site-motto" href="/">small podcasts from the human edge</a>
    <% if notice %>
    <span class="notice"><%= notice %></span>&nbsp;
    <% end %>
    <% if alert %>
    <span class="alert"><%= alert %></span>
    <% end %>
    <span class="connect">
      <a href="http://twitter.com/brickcaster"><i class="icon-twitter"></i>/brickcaster</a>
      <a href="http://facebook.com/brickcaster"><i class="icon-facebook"></i>/brickcaster</a>
    </span>
  </header>
  <div class="back-link">
    <%= yield :back_link %>
  </div>
  <div class="page">
    <%= yield %>
  </div>
  <div class="footer-links"><div class="footer-links-inner">
    <%= yield :footer_links %>
  </div></div>

</body>
</html>
