<!DOCTYPE html>
<html>
<head>
  <title><%= yield :html_title %></title>  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/ico" href="/favicon.ico">
</head>
<body class="<%= yield :body_class %>">
  <header>
    <a class="site-name" href="/">brickcaster:</a> <a class="site-motto" href="/">small podcasts from the human edge</a>
    <% if notice %>
    <span class="notice"><%= notice %></span>&nbsp;
    <% end %>
    <% if alert %>
    <span class="alert"><%= alert %></span>
    <% end %>
  </header>
  <div class="page">
    <%= yield %>
  </div>
</body>
</html>
