<!DOCTYPE html>
<html>
<head>
  <title>brickcaster: small podcasts from the human edge</title>  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="site-name">
      <a href="/">brickcaster: small podcasts from the human edge</a>
      <span class="notice"><%= notice %></span>&nbsp;
      <span class="alert"><%= alert %></span>
    </div>
  </header>
  <div class="page">
    <%= yield %>
  </div>
</body>
</html>
